In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [1]:
from os import path
import imp, morningstar
imp.reload(morningstar)
from morningstar.query import query_fund, msrank

import utils
imp.reload(utils)
from utils import AnalyzerUtil
su = AnalyzerUtil('msrank')

print(su['mysql.db'])

#df = msrank.query_fund("b.name LIKE '%100%' OR b.name LIKE '%300%' or b.name LIKE '%500%'")
df = msrank.query_fund("c.id = 'CHCA000049'")
df = msrank.export_fund(df)
df

ImportError: cannot import name 'msrank' from 'morningstar.query' (c:\projects\python\analyzer\morningstar\query.py)

In [12]:
import imp

from morningstar import msrank
imp.reload(msrank)
top_fund_df = msrank.query_fund()
rank_fund_df = msrank.rank_fund(top_fund_df)
rank_fund_group_df = top_fund_df.groupby('cat_name')

2022-04-27 09:41:39,320 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2022-04-27 09:41:39,321 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-04-27 09:41:39,336 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2022-04-27 09:41:39,337 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-04-27 09:41:39,679 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2022-04-27 09:41:39,680 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-04-27 09:41:39,719 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2022-04-27 09:41:39,720 INFO sqlalchemy.engine.Engine [generated in 0.00656s] {'table_schema': 'website', 'table_name': "\nSELECT b.code AS code, b.name AS fund_name, c.name AS cat_name, c.banchmark AS banchmark, b.class_id AS class_id\n, b.reg_date AS reg_date, b.favor ... (1876 characters truncated) ...  FROM spd_ms_fund_return WHERE CODE=b.code)\nAND p.portfolio_date = (SELECT MAX(portfolio_date) FROM spd_ms_fund_portfolio WHERE CODE=b.CODE)\n\n    "}
2022-04-27 09:41:39,786 INFO sqlalchemy.engine.Engine
SELECT b.code AS code, b.name AS fund_name, c.name AS cat_name, c.banchmark AS banchmark, b.class_id AS class_id
, b.reg_date AS reg_date, b.favorite
, round(json_value(b.fee, '$.Management')+json_value(b.fee, '$.Custodial')+json_value(b.fee, '$.Distribution'),2) AS fee, f.free_at
, r.y2_risk_rating AS y2riskr, r.y3_risk_rating AS y3riskr, r.y5_risk_rating AS y5riskr
, r.y3_ms_rating AS y3msr, r.y5_ms_rating AS y5msr
, r.y3_ms_risk AS y3risk, r.y5_ms_risk AS y5risk
, r.y3_std AS y3std, r.y5_std AS y5std
, r.y3_sharp AS y3sharp, r.y5_sharp AS y5sharp
, r.alpha_ind AS alphai, r.beta_ind AS betai, r.r2_ind AS r2i
, r.worst_m3_return AS w3r, r.worst_m6_return AS w6r, r.rating_date AS rating_date
, e.m1_return AS m1r, e.m3_return AS m3r, e.m6_return AS m6r
, e.ytd_return AS ytdr, e.y1_return AS y1r, e.y2_return AS y2r, e.y3_return AS y3r, e.y5_return AS y5r
, e.return_date AS return_date
, e.asset AS asset, p.cash_p AS cash_p, p.stock_p AS stock_p, p.bond_p AS bond_p, p.other_p AS other_p, p.top_stock_w AS top_stockw, p.portfolio_date AS portfo_date
, m.managers
FROM spd_ms_category c, spd_ms_fund_base b, spd_ms_fund_rating r, spd_ms_fund_return e, spd_ms_fund_portfolio p
, (SELECT b.code AS CODE, GROUP_CONCAT(CONCAT(jt.manager, ' (', during,')') SEPARATOR ', ') AS managers
FROM spd_ms_fund_base b, json_table(b.manager, '$[*]' columns(
	manager VARCHAR(10) path '$.ManagerName',
	during VARCHAR(10) path '$.ManagementTime',
   is_leave boolean path '$.Leave'
	)) as jt
WHERE jt.is_leave=0 GROUP BY b.code) AS m
, (SELECT b.code, free_at
FROM spd_ms_fund_base b, json_table(b.fee, '$.Redemption[*]' columns(
	free_at VARCHAR(50) path '$.key[0]',
	fee_r VARCHAR(10) path '$.value'
	)) as jt
where fee_r='0.00%') as f
WHERE b.category_id=c.class_id AND b.CODE=r.CODE AND b.CODE=e.CODE AND b.CODE=p.CODE and b.code=m.code and b.code=f.code
AND r.rating_date = (SELECT max(rating_date) from spd_ms_fund_rating WHERE CODE=b.code)
AND e.return_date = (SELECT max(return_date) FROM spd_ms_fund_return WHERE CODE=b.code)
AND p.portfolio_date = (SELECT MAX(portfolio_date) FROM spd_ms_fund_portfolio WHERE CODE=b.CODE)


2022-04-27 09:41:39,787 INFO sqlalchemy.engine.Engine [raw sql] {}

In [8]:
df = rank_fund_group_df.get_group('信用债')
df[df.code=='003547']

,code,fund_name,cat_name,banchmark,class_id,reg_date,favorite,fee,free_at,y2riskr,...,y5r,return_date,asset,cash_p,stock_p,bond_p,other_p,top_stockw,portfo_date,managers
1165,003547,鹏华丰禄债券,信用债,中证信用债指数,0P00018WDP,2016-10-27,1.0,0.4,1.0,4,...,6.24103,2022-03-31,25.3,2.11,0.0,122.12,-24.23,0.0,2021-12-31,刘涛 (5年159天)