In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [25]:
import imp
import query
imp.reload(query)
from query import query_fund
import sys, os
import pandas as pd
from os import path
sys.path.append(path.dirname(path.dirname(os.getcwd())))
APP_NAME = 'msrank'
from utils import AnalyzerUtil
su = AnalyzerUtil(APP_NAME)

import msrank
imp.reload(msrank)
df = msrank.query_fund("b.name like '%800%'")
df = msrank.export_fund(df)
df

2022-01-06 16:51:44,563 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'sql_mode'
2022-01-06 16:51:44,571 INFO sqlalchemy.engine.base.Engine {}
2022-01-06 16:51:44,603 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'lower_case_table_names'
2022-01-06 16:51:44,606 INFO sqlalchemy.engine.base.Engine {}
2022-01-06 16:51:44,652 INFO sqlalchemy.engine.base.Engine SELECT DATABASE()
2022-01-06 16:51:44,656 INFO sqlalchemy.engine.base.Engine {}
2022-01-06 16:51:44,702 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS CHAR(60)) AS anon_1
2022-01-06 16:51:44,706 INFO sqlalchemy.engine.base.Engine {}
2022-01-06 16:51:44,730 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS CHAR(60)) AS anon_1
2022-01-06 16:51:44,733 INFO sqlalchemy.engine.base.Engine {}
2022-01-06 16:51:44,778 INFO sqlalchemy.engine.base.Engine DESCRIBE `
SELECT b.code AS code, b.name AS fund_name, c.name AS cat_name, c.banchmark AS banchmark, b.class_id AS class_id, b.reg_date AS reg_date
, round(json_value(b.fee, '$.Management')+json_value(b.fee, '$.Custodial'),2) AS fee
, r.y2_risk_rating AS y2riskr, r.y3_risk_rating AS y3riskr, r.y5_risk_rating AS y5riskr, r.y10_risk_rating AS y10riskr
, r.y3_ms_rating AS y3msr, r.y5_ms_rating AS y5msr, r.y10_ms_rating AS y10msr
, r.y3_ms_risk AS y3risk, r.y5_ms_risk AS y5risk, r.y3_std AS y3std, r.y5_std AS y5std, r.y3_sharp AS y3sharp, r.y5_sharp AS y5sharp
, r.alpha_ind AS alphai, r.beta_ind AS betai, r.r2_ind AS r2i, r.alpha_cat AS alphac, r.beta_cat AS betac, r.r2_cat AS r2c
, r.worst_m3_return AS w3r, r.worst_m6_return AS w6r, r.rating_date AS rating_date
, e.m1_return AS m1r, e.m3_return AS m3r, e.m6_return AS m6r
, e.ytd_return AS ytdr, e.ytd_cat_rank AS ytdcr, e.ytd_cat_size AS ytdcs
, e.y1_return AS y1r, e.y1_cat_rank AS y1cr, e.y1_cat_size AS y1cs
, e.y2_return AS y2r, e.y2_cat_rank AS y2cr, e.y2_cat_size AS y2cs
, e.y3_return AS y3r, e.y3_cat_rank AS y3cr, e.y3_cat_size AS y3cs
, e.y5_return AS y5r, e.y5_cat_rank AS y5cr, e.y5_cat_size AS y5cs, e.return_date AS return_date
, e.asset AS asset, p.cash_p AS cash_p, p.stock_p AS stock_p, p.bond_p AS bond_p, p.other_p AS other_p, p.top_stock_w AS top_stockw
, p.portfolio_date AS portfolio_date, m.managers
FROM spd_ms_category c, spd_ms_fund_base b, spd_ms_fund_rating r, spd_ms_fund_return e, spd_ms_fund_portfolio p
, (SELECT b.code AS code, GROUP_CONCAT(CONCAT(jt.manager, ' (', during,')') SEPARATOR ', ') AS managers
FROM spd_ms_fund_base b, json_table(b.manager, '$[*]' columns(
	manager VARCHAR(10) path '$.ManagerName',
	during VARCHAR(10) path '$.ManagementTime',
   is_leave boolean path '$.Leave')) as jt
WHERE jt.is_leave=0 GROUP BY b.code) AS m
WHERE b.category_id=c.class_id AND b.CODE=r.CODE AND b.CODE=e.CODE AND b.CODE=p.CODE and b.code=m.code
AND r.rating_date = (SELECT max(rating_date) from spd_ms_fund_rating WHERE CODE=b.code)
AND e.return_date = (SELECT max(return_date) FROM spd_ms_fund_return WHERE CODE=b.code)
AND p.portfolio_date = (SELECT MAX(portfolio_date) FROM spd_ms_fund_portfolio WHERE CODE=b.CODE)
AND b.name like '%800%'
    `
2022-01-06 16:51:44,781 INFO sqlalchemy.engine.base.Engine {}
2022-01-06 16:51:44,792 INFO sqlalchemy.engine.base.Engine ROLLBACK
2022-01-06 16:51:44,823 INFO sqlalchemy.engine.base.OptionEngine
SELECT b.code AS code, b.name AS fund_name, c.name AS cat_name, c.banchmark AS banchmark, b.class_id AS class_id, b.reg_date AS reg_date
, round(json_value(b.fee, '$.Management')+json_value(b.fee, '$.Custodial'),2) AS fee
, r.y2_risk_rating AS y2riskr, r.y3_risk_rating AS y3riskr, r.y5_risk_rating AS y5riskr, r.y10_risk_rating AS y10riskr
, r.y3_ms_rating AS y3msr, r.y5_ms_rating AS y5msr, r.y10_ms_rating AS y10msr
, r.y3_ms_risk AS y3risk, r.y5_ms_risk AS y5risk, r.y3_std AS y3std, r.y5_std AS y5std, r.y3_sharp AS y3sharp, r.y5_sharp AS y5sharp
, r.alpha_ind AS alphai, r.beta_ind AS betai, r.r2_ind AS r2i, r.alpha_cat AS alphac, r.beta_cat AS betac, r.r2_cat AS r2c
, r.worst_m3_return AS w3r, r.worst_m6_return AS w6r, r.rating_date AS rating_date
, e.m1_return AS m1r, e.m3_return AS m3r, e.m6_return AS m6r
, e.ytd_return AS ytdr, e.ytd_cat_rank AS ytdcr, e.ytd_cat_size AS ytdcs
, e.y1_return AS y1r, e.y1_cat_rank AS y1cr, e.y1_cat_size AS y1cs
, e.y2_return AS y2r, e.y2_cat_rank AS y2cr, e.y2_cat_size AS y2cs
, e.y3_return AS y3r, e.y3_cat_rank AS y3cr, e.y3_cat_size AS y3cs
, e.y5_return AS y5r, e.y5_cat_rank AS y5cr, e.y5_cat_size AS y5cs, e.return_date AS return_date
, e.asset AS asset, p.cash_p AS cash_p, p.stock_p AS stock_p, p.bond_p AS bond_p, p.other_p AS other_p, p.top_stock_w AS top_stockw
, p.portfolio_date AS portfolio_date, m.managers
FROM spd_ms_category c, spd_ms_fund_base b, spd_ms_fund_rating r, spd_ms_fund_return e, spd_ms_fund_portfolio p
, (SELECT b.code AS code, GROUP_CONCAT(CONCAT(jt.manager, ' (', during,')') SEPARATOR ', ') AS managers
FROM spd_ms_fund_base b, json_table(b.manager, '$[*]' columns(
	manager VARCHAR(10) path '$.ManagerName',
	during VARCHAR(10) path '$.ManagementTime',
   is_leave boolean path '$.Leave')) as jt
WHERE jt.is_leave=0 GROUP BY b.code) AS m
WHERE b.category_id=c.class_id AND b.CODE=r.CODE AND b.CODE=e.CODE AND b.CODE=p.CODE and b.code=m.code
AND r.rating_date = (SELECT max(rating_date) from spd_ms_fund_rating WHERE CODE=b.code)
AND e.return_date = (SELECT max(return_date) FROM spd_ms_fund_return WHERE CODE=b.code)
AND p.portfolio_date = (SELECT MAX(portfolio_date) FROM spd_ms_fund_portfolio WHERE CODE=b.CODE)
AND b.name like '%800%'

2022-01-06 16:51:44,827 INFO sqlalchemy.engine.base.OptionEngine {}
 2022-01-06 16:51:45 [msrank] - INFO -  [1]

,code,fund_name,cat_name,banchmark,reg_date,fee,y2riskr,y3riskr,y5riskr,y10riskr,...,y5cs,return_date,asset,cash_p,stock_p,bond_p,other_p,top_stockw,portfolio_date,managers
0,"=HYPERLINK(""http://fund.eastmoney.com/001588.h...","=HYPERLINK(""http://www.morningstar.cn/quicktak...",股票型基金,晨星大盘指数,2015-07-16,0.60,3,3,4,0,...,120,2021-11-30,0.53,6.92,92.41,0.02,0.65,15.81,2021-09-30,张子法 (4年260天)
2,"=HYPERLINK(""http://fund.eastmoney.com/160806.h...","=HYPERLINK(""http://www.morningstar.cn/quicktak...",股票型基金,晨星大盘指数,2009-05-12,1.22,3,3,4,3,...,120,2021-11-30,1.54,6.68,94.28,0.00,-0.96,16.87,2021-09-30,陈亘斯 (2年218天)
3,"=HYPERLINK(""http://fund.eastmoney.com/165521.h...","=HYPERLINK(""http://www.morningstar.cn/quicktak...",行业股票 - 金融地产,CSI Financials PR CNY,2013-12-20,1.22,3,3,3,0,...,40,2021-11-30,2.02,5.57,94.58,0.00,-0.15,49.63,2021-09-30,HANYILING (3年267天)
4,"=HYPERLINK(""http://fund.eastmoney.com/165520.h...","=HYPERLINK(""http://www.morningstar.cn/quicktak...",行业股票 - 其它,,2013-08-30,1.22,1,1,1,0,...,0,2021-11-30,23.34,5.74,93.15,0.00,1.12,59.85,2021-09-30,黄稚 (2年121天)

In [1]:
import imp

from morningstar import msrank
imp.reload(msrank)
top_fund_df = msrank.query_fund()
rank_fund_df = msrank.rank_fund(top_fund_df)
rank_fund_group_df = rank_fund_df.groupby('cat_name')

2022-01-29 11:25:21,104 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2022-01-29 11:25:21,108 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-01-29 11:25:21,133 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2022-01-29 11:25:21,138 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-01-29 11:25:21,175 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2022-01-29 11:25:21,176 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-01-29 11:25:21,226 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2022-01-29 11:25:21,227 INFO sqlalchemy.engine.Engine [generated in 0.00939s] {'table_schema': 'test_website', 'table_name': "\nSELECT b.code AS code, b.name AS fund_name, c.name AS cat_name, c.banchmark AS banchmark, b.class_id AS class_id, b.reg_date AS reg_date\n, round(j ... (1937 characters truncated) ...  FROM spd_ms_fund_return WHERE CODE=b.code)\nAND p.portfolio_date = (SELECT MAX(portfolio_date) FROM spd_ms_fund_portfolio WHERE CODE=b.CODE)\n\n    "}
2022-01-29 11:25:21,256 INFO sqlalchemy.engine.Engine
SELECT b.code AS code, b.name AS fund_name, c.name AS cat_name, c.banchmark AS banchmark, b.class_id AS class_id, b.reg_date AS reg_date
, round(json_value(b.fee, '$.Management')+json_value(b.fee, '$.Custodial'),2) AS fee
, r.y2_risk_rating AS y2riskr, r.y3_risk_rating AS y3riskr, r.y5_risk_rating AS y5riskr, r.y10_risk_rating AS y10riskr
, r.y3_ms_rating AS y3msr, r.y5_ms_rating AS y5msr, r.y10_ms_rating AS y10msr
, r.y3_ms_risk AS y3risk, r.y5_ms_risk AS y5risk, r.y3_std AS y3std, r.y5_std AS y5std, r.y3_sharp AS y3sharp, r.y5_sharp AS y5sharp
, r.alpha_ind AS alphai, r.beta_ind AS betai, r.r2_ind AS r2i, r.alpha_cat AS alphac, r.beta_cat AS betac, r.r2_cat AS r2c
, r.worst_m3_return AS w3r, r.worst_m6_return AS w6r, r.rating_date AS rating_date
, e.m1_return AS m1r, e.m3_return AS m3r, e.m6_return AS m6r
, e.ytd_return AS ytdr, e.ytd_cat_rank AS ytdcr, e.ytd_cat_size AS ytdcs
, e.y1_return AS y1r, e.y1_cat_rank AS y1cr, e.y1_cat_size AS y1cs
, e.y2_return AS y2r, e.y2_cat_rank AS y2cr, e.y2_cat_size AS y2cs
, e.y3_return AS y3r, e.y3_cat_rank AS y3cr, e.y3_cat_size AS y3cs
, e.y5_return AS y5r, e.y5_cat_rank AS y5cr, e.y5_cat_size AS y5cs, e.return_date AS return_date
, e.asset AS asset, p.cash_p AS cash_p, p.stock_p AS stock_p, p.bond_p AS bond_p, p.other_p AS other_p, p.top_stock_w AS top_stockw
, p.portfolio_date AS portfolio_date, m.managers
FROM spd_ms_category c, spd_ms_fund_base b, spd_ms_fund_rating r, spd_ms_fund_return e, spd_ms_fund_portfolio p
, (SELECT b.code AS code, GROUP_CONCAT(CONCAT(jt.manager, ' (', during,')') SEPARATOR ', ') AS managers
FROM spd_ms_fund_base b, json_table(b.manager, '$[*]' columns(
	manager VARCHAR(10) path '$.ManagerName',
	during VARCHAR(10) path '$.ManagementTime',
   is_leave boolean path '$.Leave')) as jt
WHERE jt.is_leave=0 GROUP BY b.code) AS m
WHERE b.category_id=c.class_id AND b.CODE=r.CODE AND b.CODE=e.CODE AND b.CODE=p.CODE and b.code=m.code
AND r.rating_date = (SELECT max(rating_date) from spd_ms_fund_rating WHERE CODE=b.code)
AND e.return_date = (SELECT max(return_date) FROM spd_ms_fund_return WHERE CODE=b.code)
AND p.portfolio_date = (SELECT MAX(portfolio_date) FROM spd_ms_fund_portfolio WHERE CODE=b.CODE)


2022-01-29 11:25:21,261 INFO sqlalchemy.engine.Engine [raw sql] {}

In [27]:
df = rank_fund_group_df.get_group('中盘平衡股票')
df
for label, fund in df.iterrows():
    print(label, fund['asset'])

218 47.29
215 12.96
393 1.16
430 52.48
459 4.81
206 29.5
301 2.21
108 48.78